---
layout: default
title: Home
---
<div class="hero-section">
  <h1>Welcome to my blog</h1>
  <p class="subtitle">Gihak111's personal space for thoughts, projects, and more.</p>
  <div class="hero-links">
    <a href="https://github.com/Gihak111" target="_blank" class="hero-link github">GitHub</a>
    <a href="https://huggingface.co/gihakkk" target="_blank" class="hero-link huggingface">Hugging Face</a>
  </div>
</div>
<div class="container">
  <div class="recent-posts">
    <h2>Recent Posts</h2>
    <ul>
      {% for post in site.posts limit: 5 %}
      {% if forloop.first %}
      {% assign add_class = 'most-recent' %}
      {% capture fresh_tag %}
      &nbsp;<span class="badge"><smaller>FRESH</smaller></span>
      {% endcapture %}
      {% else %}
      {% assign add_class = '' %}
      {% assign fresh_tag = '' %}
      {% endif %}
      <li class="{{ add_class }}">
        <a href="{{ post.url }}">
          {{ post.title }}
        </a>
        {{ fresh_tag }}
        <time class="pull-right">
          {{ post.date | date_to_string | date: "%b %-d, %Y"  }}
        </time>
      </li>
      {% endfor %}
    </ul>
    <ul>
      <li><a href="{{ site.baseurl }}/list.html">View More...</a></li>
    </ul>
  </div>

  <h2 class="legend-title">Legend Posts</h2>
  <ul class="legend-list">
    <li>
      <a href="https://gihak111.github.io/design_patterns/2024/11/05/Types_Of_Design_Patterns_upload.html">
        디자인 패턴의 구분과 종류
      </a><br>
      <li>
        <a href="https://gihak111.github.io/architecture_patterns/2024/12/04/Type_of_Architecture_Patterns_upload.html">
          아키텍쳐 패턴  구분과 종류
        </a><br>
        <li>
          <a href="https://gihak111.github.io/google/2025/03/10/Information_Security_upload.html">
            정보보안 글 목록
          </a><br>
          <li>
            <a href="https://gihak111.github.io/game/2025/04/16/Game_List_upload.html">
              게임 목록
            </a>
          </li>
        </li>
      </li>
    </li>
  </ul>
</div>
{% include spacer.html %}

<style>
  .legend-list li a {
    font-size: 1.2em; /* 링크 글자 크기 조정 */
  }
</style>

{% include footer.html %}