<!doctype html>
<html lang="{{ site.lang | default: "en" }}">
  <head>
    {% include head.html %}
  </head>
  <body>
    {% include header.html %}
    <div class="container">
      {% include sidebar.html %}
      <main>
        {{ content }}
      </main>
      <aside id="sidebar-right" class="sticky">
        {% if page.toc %}
          <nav class="toc">
            {{ content | toc }}
          </nav>
        {% endif %}
      </aside>
    </div>
    {% include footer.html %}
    {% include scripts.html %}
  </body>
</html>
