<!doctype html>
{% include copyright.html %}
<html lang="{{ site.locale | slice: 0,2 | default: "en" }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body class="layout--{{ page.layout | default: layout.layout }}{% if page.classes or layout.classes %}{{ page.classes | default: layout.classes | join: ' ' | prepend: ' ' }}{% endif %}">
    {% include_cached skip-links.html %}
    {% include_cached masthead.html %}

    <div class="container">
      {% include sidebar.html %}
      <main>
        {{ content }}
      </main>
      {% if page.toc == true %}
      <aside id="sidebar-right" class="sticky">
        <h2>Table of Contents</h2>
        <nav class="toc">
          {{ content | toc }}
        </nav>
      </aside>
      {% endif %}
    </div>

    {% include scripts.html %}
  </body>
</html>
