<!DOCTYPE html>
<html lang="en">
<head>
    {% include header.html %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/styles.css"> 
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/animations_for_post.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/code_style.css">

    <script>
        window.MathJax = {
            tex: {
                inlineMath: [['$', '$'], ['\\(', '\\)']],
                displayMath: [['$$', '$$'], ['\\[', '\\]']],
                processEscapes: true,
            },
            svg: {
                fontCache: 'global'
            }
        };
    </script>
    <script async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
</head>
<body>
    <div class="site-wrapper">
        <header>
            <i class="fa fa-bars fa-2x"></i> Gihak111
            {% include navigation.html %}
        </header>

        <main class="main-content">
            <div id="wrapper">
                <div class="container">
                    {{ content }}
                </div>
            </div>
        </main>
        {% include spacer.html %}

        <footer class="site-footer">
            {% include footer.html %}
        </footer>
    </div>

    {% include scripts.html %}

    <script>
        // 복사 버튼 생성 및 동작
        document.addEventListener('DOMContentLoaded', () => {
            const preBlocks = document.querySelectorAll('pre');
            
            preBlocks.forEach(pre => {
                const button = document.createElement('button');
                button.innerText = 'Copy';
                button.classList.add('copy-button');
                pre.appendChild(button);

                button.addEventListener('click', () => {
                    // 버튼 텍스트를 제외하고 복사하도록 수정
                    const code = pre.querySelector('code');
                    const codeText = code ? code.innerText : pre.innerText.replace(/\nCopy$/, '');
                    
                    navigator.clipboard.writeText(codeText).then(() => {
                        button.innerText = 'Copied!';
                        setTimeout(() => button.innerText = 'Copy', 2000);
                    }).catch(err => {
                        console.error('Copy failed', err);
                    });
                });
            });
        });
    </script>
</body>
</html>